extends layout

block content
    h1 Biler
    br
    table
        each car in cars
            tr
                td #{car.licensePlate}
                td #{car.brand}
                td #{car.model}
                td #{car.retired}
                td #{car.colour}
                td #{car.id}
                
            