extends layout

block content
    table
        tr
            td #[strong Mærke:]
            td
                input(type="text", name="brand",
                    value=(car !== undefined && car.brand !== undefined) ? car.brand : '',
                    placeholder='Mærke', required)
        tr
            td #[strong Model:]
            td
                input(type="text", name="model",
                    value=(car !== undefined && car.model !== undefined) ? car.model : '',
                    placeholder='Model', required)
        tr
            td #[strong Nummerplade:]
            td
                input(type="text", name="licensePlate",
                    value=(car !== undefined && car.licensePlate !== undefined) ? car.licensePlate : '',
                    placeholder='Nummerplade', required)
        tr
            td #[strong Farve:]
            td
                input(type="text", name="colour",
                    value=(car !== undefined && car.colour !== undefined) ? car.colour : '',
                    placeholder='Farve', required)
        tr
            td #[strong Motor:]
            td
                input(type="text", name="engine",
                    value=(car !== undefined && car.engine !== undefined) ? car.engine : '',
                    placeholder='Motor', required)
        tr
            td #[strong Årgang:]
            td
                input(type="text", name="year",
                    value=(car !== undefined && car.year !== undefined) ? car.year : '',
                    placeholder='Årstal', required)
        tr
            td #[strong Partikelfilter:]
            td
                select(name="particulateFilter")
                    option(value="true",
                        selected=(car !== undefined) ? car.particulateFilter == true : particulateFilter = true) Ja
                    option(value="false", 
                        selected=(car !==undefined) ? car.particulateFilter == false : particulateFilter = false) Nej
        tr
            td #[strong Kælenavn:]
            td
                input(type="text", name="nickName",
                    value=(car !== undefined && car.nickName !== undefined) ? car.nickName : '',
                    placeholder='Kælenavn')
        tr
            td #[strong Skrottet:]
            td
                select(name="retired")
                    option(value="true",
                        selected=(car !== undefined) ? car.retired == true : retired = true) Ja
                    option(value="false",
                        selected=(car !== undefined) ? car.retired == false : retired = false) Nej
        tr
            td #[strong Chauffør:]
            td
                select(name="driver")
                    option(value=undefined) Ingen
                    if people !== undefined
                        each person in people
                            option(value=person._id) #{person.name}
    input(type="hidden", name="_id", value=(car !== undefined && car._id !== undefined) ? car._id : '')