extends layout

block content
    .grid-container
        .grid-item
            h1 Biler
            table
                each car in cars
                    tr
                        td(colspan=2)
                            if car.nickName
                                br
                                |#[b Kælenavn:] #{car.nickName}
                            br
                            |#[u #{car.licensePlate}]
                    tr
                        td.emojiTD
                            a(href="/biler/redigerBil/" + car._id, class='emojiLink') ✏️
                        td.emojiTD
                            a(href="/reparation/" + car._id, class='emojiLink') 🔧
        .grid-item
            h1 Syn og Planlagt Arbejde
            table.listTable
                each work in list
                    tr
                        td.listTD
                            br
                            | #[b Syn] 
                            if work.nickName 
                                br
                                |#[b Kælenavn:] #{work.nickName}
                            br
                            |#[u #{work.licensePlate}]
                            br
                            | #[b Dato:] #{work.nextInspection.toLocaleDateString()} 
                                        
