extends layout

block content
    h1 Biler
    table
        each car in cars
            tr
                td Nummerplade: #{car.licensePlate}
                    br
                    |Mærke: #{car.brand}
                    br
                    |Model: #{car.model}
                    br
                    |Motor: #{car.engine}
                    br
                    |Årgang: #{car.year}
                    br
                    |Farve: #{car.colour}
                    br
                    |Skrottet: #{car.retired}
                    br
                    |ID: #{car.id}                    
                td
                    a(href="/biler/redigerBil/" + car._id, class='emojiLink') ✏️