extends layout

block content
  h1 Arbejdstøj
  .grid-container 
    .grid-item
      h2 Udlevér tøj til medarbejder
      div.buttonDiv
        form(action="toj/addPersonToClothes" method="POST")
          table 
            tr
              td #[b Vælg en person:]
              td   
                select#personSelect(name='persons' onchange='loadPerson()')
                  option(hidden='' disabled='' selected='' value='')  Vælg en person
                  for person in persons
                    if person.name || person.position || person.birthday
                      option(value=((person && person.birthday) ? person.birthday.toLocaleDateString() : 'Ej oplyst') 
                      + '#' + person.position + '#' + person._id) #{person.name}
            tr
              td #[b Fødselsdag:]
              td
                div#personBirthday Ingen valg
            tr
              td.spaceTD #[b Stilling:]
              td.spaceTD
                div#personPosition Ingen valg
            tr
              td
                | #[b Vælg beklædning:]
              td
                select#clothesSelect(name='clothes' onchange='loadClothes()')
                  option(hidden='' disabled='' selected='' value='')  Vælg beklædning
                  if clothes
                    each cloth in clothes
                      option(value=cloth.size + '#' + cloth.brand + '#' + cloth._id) #{cloth.name}
            tr
              td #[b Str.:]
              td 
                div#clothesSize Ingen valg
            tr
              td #[b Mærke:]
              td
                div#clothesBrand Ingen valg
            tr
              td(colspan='2')
                button(class="addPersonToClothes" name="btnAddPersonToClothes" type="submit" value="addPersonToClothes" ) UDLEVER 
            input#personID(type="hidden" name="person_id" value=(person !== undefined && person._id !== undefined) ? person._id: '')
            input#clothesID(type="hidden" name="cloth_id" value=(cloth !== undefined && cloth._id !== undefined) ? cloth._id: '')

    .grid-item
      h2 Opret, ændr og slet arbejdstøj
      div.buttonDiv
        form(action="toj" method="post")
          table.listTable 
            tr
              td #[b Type:]
              td
                input(type="text", name="name",
                value=(cloth!==undefined) ? cloth.name: '',
                placeholder='Type', required)
            tr
              td #[b Str.:]
              td
                input(type="text", name="size",
                value=(cloth !== undefined) ? cloth.size: '',
                placeholder='Størrelse', required)
            tr
              td #[b Mærke:]
              td
                input(type="text", name="brand",
                value=(cloth !== undefined) ? cloth.brand: '',
                placeholder='Mærke', required)
            tr
              td(colspan='2')
                button(class="buttonsClothes" name="btnDelete" type="submit" value="delete") SLET
                button(class="buttonsClothes" name="btnChange" type="submit" value="change") ÆNDR
                button(name="btnCreate" type="submit" value="create") OPRET
          input(type="hidden" name="_id" value=(cloth !== undefined) ? cloth._id: '')

          h2 Beklædningsgenstande
          table.listTable
            if clothes
              each cloth in clothes
                tr
                  td.listTD
                    | #[b Type:] #{cloth.name}
                    br
                    | #[b Str.:] #{cloth.size}
                    br
                    | #[b Mærke:] #{cloth.brand}
                  td.listTD
                    a(href="/toj/" + cloth._id, class='emojiLink') ✏️
  script.
    function loadPerson() {
      let selectedPerson = document.getElementById("personSelect").value
      let personDetails = selectedPerson.split('#')
      document.getElementById("personBirthday").innerHTML = (personDetails[0]) ? personDetails[0] : 'Ej oplyst' 
      document.getElementById("personPosition").innerHTML = (personDetails[1]) ? personDetails[1] : 'Ej oplyst' 
      document.getElementById("personID").value = personDetails[2]
    }
    function loadClothes() {
      let selectedClothes = document.getElementById("clothesSelect").value
      let clothesDetails = selectedClothes.split('#')
      document.getElementById("clothesSize").innerHTML = clothesDetails[0]  
      document.getElementById("clothesBrand").innerHTML = clothesDetails[1]
      document.getElementById("clothesID").value = clothesDetails[2]
    }