extends layout

block content
  .grid-container 
    .grid-item
      h2 Vælg person og tøj, klik tilføj
      div.buttonDiv
        form(action="clothes/addPersonToClothes" method="POST")
          table 
            tr
              td
                label Vælg en person :
              td   
                select#personSelect(name='persons' onchange='loadPerson()')
                  option(hidden='' disabled='' selected='' value='')  Vælg en person
                  for person in persons
                    option(value=((person && person.birthday) ? person.birthday.toLocaleDateString() : 'Ej oplyst') 
                    +'#' + person.position +  '#' + person._id) #{person.name}
            tr
              td Fødselsdag
              td
                p#personBirthday Ingen valg
            tr
              td Stilling
              td
                p#personPosition Ingen valg
            tr
              td
                label Vælg beklædning :
              td
                select#clothesSelect(name='clothes' onchange='loadClothes()')
                  option(hidden='' disabled='' selected='' value='')  Vælg beklædning
                  if (clothes !== undefined) 
                  each cloth in clothes
                    option(value=cloth.size + '#' + cloth.brand +  '#' + cloth._id) #{cloth.name}

            tr
              td Størrelse
              td 
                p#clothesSize Ingen valg
            tr
              td Mærke
              td
                p#clothesBrand Ingen valg
            tr
              td(colspan='2')
                button(class="addPersonToClothes" name="btnAddPersonToClothes" type="submit" value="addPersonToClothes" ) Udlever beklædning 
            input#personID( type="hidden" name="person_id", value=(person !== undefined && person._id !== undefined) ? person._id:'')
            input#clothesID( type="hidden" name="cloth_id", value=(cloth !== undefined && cloth._id !== undefined) ? cloth._id:'')

    .grid-item
      h2 Opret, ændre, slette arbejdstøj
      div.buttonDiv
        form(action="clothes" method="post")
          table.listTable 
            tr
              td #[strong Type:]
              td
                input(type="text", name="name",
                value=(cloth!==undifined)?cloth.name:'',
                placeholder='Type',required)
            tr
              td #[strong Størrelse:]
              td
                input(type="text", name="size",
                value=(cloth !== undifined) ? cloth.size:'',
                placeholder='Størrelse',required)
            tr
              td #[strong Mærke:]
              td
                input(type="text", name="brand",
                value=(cloth !== undifined) ? cloth.brand:'',
                placeholder='Mærke',required)
            tr
              td(colspan='2')
                br
                button(class="buttonsClothes" name="btnCreate" type="submit" value="create" ) Opret 
                button(class="buttonsClothes" name="btnChange" type="submit" value="change") Ændre 
                button(class="buttonsClothes" name="btnDelete" type="submit" value="delete") Slet 
            input(type="hidden" name="_id", value=(cloth !== undefined) ? cloth._id:'')

          h2 Beklædningsgenstande
          table.listTable
            if clothes !== undefined
            each cloth in clothes
              tr
                td #[i Type:] 
                td #{cloth.name}
              tr
                td #[i Størrelse:] 
                td #{cloth.size}
              tr
                td #[i Mærke:] 
                td #{cloth.brand}
              tr
                td.emojiTD 
                  a(href="/clothes/" + cloth._id, class='emojiLink') ✏️
  script.
    function loadPerson() {
      let selectedPerson = document.getElementById("personSelect").value
      let personDetails = selectedPerson.split('#')
      document.getElementById("personBirthday").innerHTML = (personDetails[0]) ? personDetails[0] : 'Ej oplyst' 
      document.getElementById("personPosition").innerHTML =  (personDetails[1]) ? personDetails[1] : 'Ej oplyst' 
      document.getElementById("personID").value = personDetails[2]
    }
    function loadClothes() {
      let selectedClothes = document.getElementById("clothesSelect").value
      let clothesDetails = selectedClothes.split('#')
      document.getElementById("clothesSize").innerHTML =  clothesDetails[0]  
      document.getElementById("clothesBrand").innerHTML = clothesDetails[1]
      document.getElementById("clothesID").value = clothesDetails[2]
      }

