extends layout

block content
    h1 Biler
    table
        each car in cars
            tr
                td Nummerplade: #{car.licensePlate}
                    br
                    |Mærke: #{car.brand}
                    br
                    |Model: #{car.model}
                    br
                    |Motor: #{car.engine}
                    br
                    |Årgang: #{car.year}
                    br
                    |Farve: #{car.colour}
                    br
                    |Skrottet: #{car.retired}
                    br
                    |ID: #{car.id} 
                    br
                    |Reparationer: 
                    each rep in car.repairs
                        rep.repair
                        rep.date
                        rep.repaired
                    br
                    |Syn: 
                    each inspection in car.inspections
                        inspection.prev
                        inspection.next
                    br
                    |Skader: 
                    each dam in car.damages
                        dam.damage
                        dam.date
                        dam.repaired
                    br
                td
                    a(href="/biler/redigerBil/" + car._id, class='emojiLink') ✏️