extends layout

block content

    h1 Rediger skade
    div.buttonDiv
        form(action="redigerSkade" method="POST")
            |#[strong Nummerplade:] #{car.licensePlate}
            br
            |#[strong Mærke:] #{car.brand}
            br
            |#[strong Model:] #{car.model}
            br  
            br  

            table
                tr
                    td #[strong Skade:]
                    td
                        input(type="text" name="damage" value=damage.damage)
                tr
                    td #[strong Dato:]
                    td
                        input(type="date" name="date" value=new Date(damage.date).toLocaleDateString())
                tr
                    td #[strong Repareret:]
                    td
                        if damage.repaired
                            select(name="repaired")
                                option(value="true") Ja
                                option(value="false") Nej
                        else 
                            select(name="repaired")
                                option(value="false") Nej
                                option(value="true") Ja
            input(type="hidden" name="_id" value=damage._id)
            button(type="submit") REDIGÉR