extends layout

block content
    h2 Syn
    | #[b Næste:] 
    if car.nextInspection
        | #{car.nextInspection.toLocaleDateString()}
    br
    |#[b Sidste:]
    if car.prevInspection
        | #{car.prevInspection.toLocaleDateString()}
    br
    div.buttonDiv
        form(action="addInspection", method="POST")
            table
                tr
                    td #[b Dato for næste:]
                    td
                        input(type="date", name="nextInspection",
                        value=new Date().toISOString().split('T')[0],
                        min=value=new Date().toISOString().split('T')[0])
            input(type="hidden", name="_id", value=car._id)
            button(type="submit") TILFØJ