extends layout

block content
  h2 Opret, ændre eller "slette" person
  div.buttonDiv
    form(action="person" method="POST")
      table 
        tr
          td #[strong Navn:]
          td(colspan='2')
            input(type="text", name="name",
            value=(person !== undefined && person.name !== undefined) ? person.name : '',
            placeholder='Navn')           
        tr
          td #[strong Stilling:]
          td(colspan='2')
            input(type="text", name="position",
            value=(person !== undefined && person.position !== undefined) ? person.position : '',
            placeholder='Stilling')
        tr
          td #[strong Fødselsdato:]
          td(colspan='2')
            input(type="date",
            name="birthday",
            value=(person !== undefined && person.birthday !== undefined ) ? person.birthday : '',
            placeholder=new Date().toISOString().split('T')[0])
        tr
          td(colspan='2')
            br
            button(class="buttonsPerson" name="btnCreate" type="submit" value="create" ) Opret 
            button(class="buttonsPerson" name="btnChange" type="submit" value="change") Ændre 
            button(class="buttonsPerson" name="btnNullify" type="submit" value="nullify") "Slet" 

            input(type="hidden" name="_id", value=(person !== undefined && person._id !== undefined) ? person._id:'')

    br
    h2 Personer
      table.listTable
        each person in persons
          tr
            td #[i Navn:] 
            td #{person.name}
          tr
            td #[i Stilling:] 
            td #{person.position}
          tr
            td #[i Fødselsdag:] 
            td #{(person.birthday!== undefined&&person.birthday!== null) ? person.birthday.toLocaleDateString():''}
          tr
            td.emojiTD 
              a(href="/person/" + person._id, class='emojiLink') ✏️
          tr
            td(colspan='2') -------------------------