extends layout

block content
  h1 Personer
  h2 Opret, ændr eller slet person
  div.buttonDiv
    form(action="person" method="POST")
      table 
        tr
          td #[b Navn:]
          td
            input(type="text", name="name",
            value=(person !== undefined && person.name !== undefined) ? person.name : '',
            placeholder='Navn', required)
        tr
          td #[b Stilling:]
          td
            input(type="text", name="position",
            value=(person !== undefined && person.position !== undefined) ? person.position : '',
            placeholder='Stilling')
        tr
          td #[b Fødselsdato:]
          td
            input(type="date", name="birthday",
            value=(person !== undefined && person.birthday !== undefined) ? person.birthday : '',
            placeholder=new Date().toLocaleDateString())
        tr
          td(colspan='2')
            button(class="buttonsPerson" name="btnNullify" type="submit" value="nullify") SLET
            button(class="buttonsPerson" name="btnChange" type="submit" value="change") ÆNDR
            button(name="btnCreate" type="submit" value="create") OPRET
      input(type="hidden" name="_id", value=(person !== undefined && person._id !== undefined) ? person._id:'')

    h2 Personer
      table.listTable
        each person in persons
          if person.name || person.position || person.birthday
            tr
              td.listTD
                | #[b Navn:] #{person.name}
                br
                | #[b Stilling:] #{person.position}
                br
                | #[b Fødselsdag:] #{(person.birthday !== undefined && person.birthday !== null) ? person.birthday.toLocaleDateString() : ''}
              td.listTD 
                a(href="/person/" + person._id, class='emojiLink') ✏️
