h2 Bil
|#[strong Nummerplade:] #{car.licensePlate}
br
|#[strong Mærke:] #{car.brand}
br
|#[strong Model:] #{car.model}
br
|#[strong Motor:] #{car.engine}
br
|#[strong Årgang:] #{car.year}
br
|#[strong Farve:] #{car.colour}
br
if car.retired
    |#[strong Skrottet:] Ja
else
    |#[strong Skrottet:] Nej
br
if car.nickName != null
    if car.nickName != ''
        |#[strong Kælenavn:] #{car.nickName}