h2 Bil
|#[strong Nummerplade:] #{car.licensePlate}
br
|#[strong Mærke:] #{car.brand}
br
|#[strong Model:] #{car.model}
br
|#[strong Motor:] #{car.engine}
br
|#[strong Årgang:] #{car.year}
br
|#[strong Farve:] #{car.colour}
br
|#[strong Skrottet:] #{car.retired}
br
|#[strong ID:] #{car.id}
br
|---------------------------