extends layout

block content
    h2 Bil
    | #[b Nummerplade:] #{car.licensePlate}
    br
    | #[b Mærke:] #{car.brand}
    br
    | #[b Model:] #{car.model}
    br
    | #[b Motor:] #{car.engine}
    br
    | #[b Årgang:] #{car.year}
    br
    if car.particulateFilter
        | #[b Partikelfilter:] Ja
    else
        | #[b Partikelfilter:] Nej
    br
    | #[b Farve:] #{car.colour}
    br
    if car.retired
        | #[b Skrottet:] Ja
    else
        | #[b Skrottet:] Nej
    br
    if car.nickName
        | #[b Kælenavn:] #{car.nickName}
    br
    if car.driver && car.driver.driver
        | #[b Chauffør:] #{car.driver.driver.name}
        | #[b Fra:] #{car.driver.dateFrom.toLocaleDateString()}
    else
        | #[b Chauffør:] Ingen
    br
    if car.driver && car.driver.prevDriver
        | #[b Tidligere chauffør:] #{car.driver.prevDriver.name}
        | #[b Til:] #{car.driver.prevDateTo.toLocaleDateString()}
        | #[b Fra:] #{car.driver.prevDateFrom.toLocaleDateString()}
    else
        | #[b Tidligere chauffør:] Ingen
