extends layout

block content
    .grid-container 
        .grid-item
            h2 Bil
            |#[strong Nummerplade:] #{car.licensePlate}
            br
            |#[strong Mærke:] #{car.brand}
            br
            |#[strong Model:] #{car.model}
            br
            |#[strong Motor:] #{car.engine}
            br
            |#[strong Årgang:] #{car.year}
            br
            if car.particulateFilter
                |#[strong Partikelfilter:] Ja
            else
                |#[strong Partikelfilter:] Nej
            br
            |#[strong Farve:] #{car.colour}
            br
            if car.retired
                |#[strong Skrottet:] Ja
            else
                |#[strong Skrottet:] Nej
            br
            if car.nickName
                |#[strong Kælenavn:] #{car.nickName}
            br
<<<<<<< HEAD
            if car.driver.driver
                |#[strong Chauffør:] #{car.driver.driver.name} |#[strong Fra:] #{car.driver.dateFrom.toLocaleDateString()}
=======
            if car.driver && car.driver.driver
                |#[strong Chauffør:] #{car.driver.driver.name} |#[strong Fra:] #{car.driver.DateFrom.toLocaleDateString()}
>>>>>>> dev
            else
                |#[strong Chauffør:] Ingen
            br
            if car.driver && car.driver.prevDriver
                |#[strong Tidligere chauffør:] #{car.driver.prevDriver.name} |#[strong Til:] #{car.driver.prevDateTo.toLocaleDateString()} |#[strong Fra:] #{car.driver.prevDateFrom.toLocaleDateString()}
            else
                |#[strong Tidligere chauffør:] Ingen
