extends ../layout

block content
    include statistics
    h2 Tøj
    | Mærke: #{clothes.brand}
    br
    | Type: #{clothes.name}
    br
    | Str.: #{clothes.size}
    br
    h3 Modtagere
    table
        each dates, person in persons
            tr
                td #{person.split(",")[1].replace(/name:/gi, "").replace(/'/gi, "")}
                td #{dates.length}
                td
                    a(href="/statistik/personer/" + person.split(",")[0].replace(/{ _id: /gi, ""), class='emojiLink') 🔍
