extends ../layout

block content
    include statistics
    h2 Tøj
    | Mærke: #{clothes.brand}
    br
    | Type: #{clothes.name}
    br
    | Str.: #{clothes.size}
    br
    h3 Modtagere
    table
        for person in persons
            tr
                td #{person.position} #{person.name} (#{person.birthday.toLocaleDateString()})
                td #{clothes.handedOut.size}
                td
                    a(href="/statistik/personer/" + person._id, class='emojiLink') 🔍
