extends ../layout

block content
    include statistics
    h2 Person
    if person.name
        | Navn: #{person.name}
        br
    if person.position
        | Stilling: #{person.position}
        br
    if person.birthday
        | Fødselsdag: #{person.birthday.toLocaleDateString()}
    h3 Modtaget tøj
    table
        for piece in clothes
            tr
                td.topTD #{piece.brand} #{piece.name} str. #{piece.size}
                td
                    if piece.handedOut.size > 0
                        - let object = Object.fromEntries(piece.handedOut)
                            for dates, receiver in object
                                if (receiver == person._id)
                                    for date in dates
                                        li #{date.toLocaleDateString()}
                td.emojiTD
                    a(href="/statistik/toj/" + piece._id, class='emojiLink') 🔍